[project]
	description = Declarative function argument checks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gábor Csárdi (gaborcsardi)
[access "refs/for/refs/*"]
	read = group user/Gábor Csárdi (gaborcsardi)
	push = group user/Gábor Csárdi (gaborcsardi)
	label-Code-Review = -2..+2 group user/Gábor Csárdi (gaborcsardi)
	label-Verified = -1..+1 group user/Gábor Csárdi (gaborcsardi)
	rebase = group user/Gábor Csárdi (gaborcsardi)
	removeReviewer = group user/Gábor Csárdi (gaborcsardi)
	submit = group user/Gábor Csárdi (gaborcsardi)
[access "refs/heads/*"]
	read = group user/Gábor Csárdi (gaborcsardi)
	create = group user/Gábor Csárdi (gaborcsardi)
	push = +force group user/Gábor Csárdi (gaborcsardi)
	pushMerge = group user/Gábor Csárdi (gaborcsardi)
[access "refs/tags/*"]
	push = +force group user/Gábor Csárdi (gaborcsardi)
	pushTag = group user/Gábor Csárdi (gaborcsardi)
	pushSignedTag = group user/Gábor Csárdi (gaborcsardi)
